body {
  font-size: 24px;
}

.button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 30px;
  background: #1d3557;
  color: #f1faee;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.4s;
}

.button:hover {
  background-color: #a8dadc;
  color: #1d3557;
}

.star {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 48px;
  cursor: pointer;
  transition: 0.8s;
}

.star:hover {
  transform: rotate(-90deg);
}

.article {
  padding: 30px;
  background: #a8dadc;
  border-radius: 5px;
  color: #54819e;
  text-align: center;
  width: fixed;
  height: fixed;
  line-height: 30px;
}

.article:hover {
  color: #1d3557;
  font-size: 29px;
}

.article-title {
  margin-bottom: 12px;
  transition: 0.5s;
}

.article-content {
  font-size: 16px;
}
